{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="homePage container-fluid d-flex justify-content-center">
        <p>You must be registered to start a game. follow the links
        <a href="#"> HERE </a></p>
    </div>
{% endblock %}
