<div class="row row-cols-2">
    <p class="col text-start">How to play ?</p>
    <div class="col d-flex justify-content-end">
        <a href="#" class="me-3">Connect</a>
        <a href="#" class="ms-3">Not a member ?</a>
    </div>
</div>